@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-brand-blue: #003366;
  --color-brand-light-blue: #0066cc;
  --color-brand-gray: #333333;
}

:root {
  --background: #ffffff;
  --foreground: #111111;
  --primary: #003366;
}

@layer base {
  * {
    @apply border-black/5;
  }
  body {
    @apply bg-white text-brand-gray selection:bg-brand-blue/10 selection:text-brand-blue;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #003366;
  border-radius: 5px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #0066cc;
}

html,
body {
  overscroll-behavior: none;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
